h1{
    position: none;
    top: 0px;
    left: 100px;
    color:rgb(230, 124, 124);


}
ol{
    display: inline-block;
    position: relative;
    top: 10px;
    left: 200px;
    right: 300px;
}
h2{ 
    position: relative;
   padding: 0px; 
   text-align: center;
   font-style: italic;
   border: 8px solid purple;
   border-radius: 10px;

    color:rgb(171, 136, 82);

    border: 8px solid purple;


    

}
p{
    background-color: gray;
    padding: 4%;
    margin: ;

    color:aqua;
    font-size: 30px;
    font-style: bold;


}


img{width: 200px ;
 


}
